.container {
  padding: 30px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 15px;
  border: 1px solid black;
  border-radius: 30px;
  background: #fdfdcb;
}
.myForm {
  font-family: "PT Mono", monospace;
}
i:hover {
  font-size: 30px;
}
h1 {
  color: #c54c82;
  padding: 0px;
  margin-top: 55px;
  margin-bottom: 0px;
  line-height: 5px;
  font-family: "Caprasimo", cursive;
}
h3 {
  font-weight: bold;
  color: #ec729c;
  font-family: "PT Mono", monospace;
}
.rightC {
  padding: 0px;
  margin-top: 40px;
  font-family: "PT Mono", monospace;
}
.fa-solid {
  color: #c54c82;
}
.weatherForecast {
  font-family: "PT Mono", monospace;
}
.tempButton {
  font-size: 10px;
  border: 0.5px #c54c82 solid;
  border-radius: 30px;
  background-color: white;
  position: relative;
  top: -10px;
}

#current-temp {
  font-size: 50px;
  color: #c54c82;
  font-family: "PT Mono", monospace;
}
#celsius {
  position: relative;
  font-size: 16px;
  top: -20px;
  text-decoration: none;
}
#fahrenheit {
  position: relative;
  font-size: 16px;
  top: -20px;
  text-decoration: none;
}
.credits {
  text-align: center;
  font-size: 10px;
  line-height: 1px;
}
#icon {
  display: inline-block;
  height: 80px;
  vertical-align: top;
  width: 80px;
  filter: drop-shadow(0 0 0.75rem #fd99ff);
}
.active {
  color: black;
  cursor: default;
}

.weatherForecastDate {
  color: blue;
  font-weight: bold;
}
.weatherForecastTempMin {
  opacity: 0.6;
}
