.container {
  padding: 30px;
  margin: 30px;
  border: 1px solid black;
  border-radius: 30px;
  background: #fdfdcb;
}
.myForm {
  font-family: "PT Mono", monospace;
}
i:hover {
  font-size: 30px;
}
h1 {
  color: #c54c82;
  padding: 0px;
  margin-top: 55px;
  margin-bottom: 0px;
  line-height: 5px;
  font-family: "Caprasimo", cursive;
}
h3 {
  font-weight: bold;
  color: #ec729c;
  font-family: "PT Mono", monospace;
}
.rightC {
  padding: 0px;
  margin-top: 40px;
  font-family: "PT Mono", monospace;
}
.fa-solid {
  color: #c54c82;
}
.listCities {
  font-family: "PT Mono", monospace;
}
.tempButton {
  font-size: 10px;
  border: 0.5px #c54c82 solid;
  border-radius: 30px;
  background-color: white;
  position: relative;
  top: -10px;
}

#current-temp {
  font-size: 40px;
  color: #c54c82;
  font-family: "PT Mono", monospace;
}
.credits {
  text-align: center;
  font-size: 10px;
  line-height: 1px;
}
